.tree-menu-wrapper{
    width:300px;
    background:#7b50d2;
}
.menu-container{
    padding:0;
    margin:0;
    list-style-type:none;
}
.menu-container li{
    border-bottom:1px solid #fff;
}
.menu-container li a{
    padding:10px;
    color:#fff;
    display:block;
    cursor: pointer;
}
.menu-container li a .menu-icon{
    float: right;
    font-size: 27px;
    line-height: 20px;
    vertical-align: top;
}
.menu-container li a .menu-icon.minus{
    margin-right:2px;
    font-size:37px;
    line-height:13px;
}
.menu-container li .menu-container{
    padding-left:20px;
    border-top:1px solid #fff;
}
.menu-container li .menu-container li:last-child{
    border:none;
}