header{
  width:100%;
  background:#41bab8;
  text-align: center;
}
h1{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 18px;
}
.body-cont {
  display: flex;
  flex-direction: row;
}

.Navigation-wrapper {
  width: 225px;
  min-width: 225px;
}

.Navigation-wrapper ul {
  margin: 0;
  padding:5px;
}

.Navigation-wrapper ul li {
  text-align: left;
  border-bottom: 1px solid #676767;
}

.Navigation-wrapper ul li a {
  color:#4b2727;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
  width: calc(100% - 20px);
  display: block;
  background-color: #41bab8;
}
.Navigation-wrapper ul li a.active,
.Navigation-wrapper ul li a:hover{
  color:#fff;
  background-color:#609eef;
  transition: background-color 1000ms liner;
}
.content-wrapper {
  margin:30px;
}